
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Blood Donation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet" type="text/css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-static-top navbar-expand-md">
        <div class="container">
            <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span>
            </button> <a class="navbar-brand" href="#">Blood Donation </a>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="active nav-item"><a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item"><a href="/doe" class="nav-link">Doe</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="jumbotron">
        <div class="container">
            <h1>Quer saber mais sobre doação de sangue?</h1>
            <p>Saiba como pode ajudar pessoas que estão realmente necessitadas</p>
            <br>
            <p><a class="btn btn-primary btn-lg" href="/doe" role="button">Mais Informações</a>
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3>Doar sangue é um ato de VIDA</h3>
                <p> Quando doamos sangue, fornecemos um produto essencial para a sobrevivência de um indivíduo. Em algumas situações, a transfusão é inevitável, sendo, portanto, essencial que haja sangue em estoque, o qual é conseguido exclusivamente por doação.
                </p>
            </div>
            <div class="col-lg-6">
                <h3>A sua doação importa</h3>
                <p>Salve até três vidas com uma doação. Mais de 38 mil doações são necessárias.
                </p>
            </div>
        </div>
    </div>
</body>

</html>